* {
    background-color: rgb(237, 241, 243);
     
}

img {
    height: 150px;
    margin: auto;
    display: block;
    padding: 150px;

}

@media screen and(max-width:600px) {
    .container {
        max-width:320px;

    }
}
